<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="generator" content="adastra">

    <link rel="canonical" href="{{ canonical_url }}">

    {% if settings.favicon != blank %}
      <link fetchpriority="low" rel="icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}" sizes="32x32">
    {% endif %}

    <title>{{ page_title }}</title>

    <meta name="description" content="{{ page_description | default: shop.name | escape }}">

    {% comment %} We preconnect to commonly used third-parties to initiate TCP/TLS handshake {% endcomment %}
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {% comment %} We check if its a system font, or a web-safe font {% endcomment %}
    {% unless settings.type_heading.system? and settings.type_body.system? %}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {% endunless %}

    {% liquid
      render 'colors'
      render 'typography'
    %}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js')
      window.addEventListener('load', () => document.documentElement.classList.add('ready'))
    </script>

    <!-- shopify/apps -->
    {{ content_for_header }}

    <link rel="stylesheet" href="{{'main.css'| asset_url }}">
  </head>
  <body>
  <header>{% section 'nav' %}</header>
    <main
      id="MainContent"
      tabindex="-1">
      {{ content_for_layout }}

       <script
        src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
        crossorigin="anonymous"></script>
      {% comment %} Owl Carousel CDN {% endcomment %}
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
      {% comment %} global Javascript {% endcomment %}
      <script src="{{'functions.js'| asset_url }}"></script>

      <script>
        // image gallery for product page
        function initSlider() {
          var sync1 = $(".product-main-gallery");
          var sync2 = $(".product-gallery-thumbnil");
          var slidesPerPage = 4; // globaly define number of elements per page
          var syncedSecondary = true;

          sync1.owlCarousel({
            items: 1,
            slideSpeed: 2000,

            autoplay: false,

            loop: true,
            responsiveRefreshRate: 200
          }).on("changed.owl.carousel", syncPosition);

          sync2.on("initialized.owl.carousel", function() {
            sync2.find(".owl-item").eq(0).addClass("current");
          }).owlCarousel({
            items: slidesPerPage,

            smartSpeed: 200,
            slideSpeed: 500,
            slideBy: slidesPerPage, // alternatively you can slide by 1, this way the active slide will stick to the first item in the second carousel
            responsiveRefreshRate: 100
          }).on("changed.owl.carousel", syncPosition2);

          function syncPosition(el) {

// if you set loop to false, you have to restore this next line
// var current = el.item.index;

// if you disable loop you have to comment this block
            var count = el.item.count - 1;
            var current = Math.round(el.item.index - el.item.count / 2 - 0.5);

            if (current < 0) {
              current = count;
            }
            if (current > count) {
              current = 0;
            }

// end block

            sync2
              .find(".owl-item")
              .removeClass("current")
              .eq(current)
              .addClass("current");
            var onscreen = sync2.find(".owl-item.active").length - 1;
            var start = sync2.find(".owl-item.active").first().index();
            var end = sync2.find(".owl-item.active").last().index();

            if (current > end) {
              sync2.data("owl.carousel").to(current, 100, true);
            }
            if (current < start) {
              sync2.data("owl.carousel").to(current - onscreen, 100, true);
            }
          }

          function syncPosition2(el) {
            if (syncedSecondary) {
              var number = el.item.index;
              sync1.data("owl.carousel").to(number, 100, true);
            }
          }

          sync2.on("click", ".owl-item", function(e) {
            e.preventDefault();
            var number = $(this).index();
            sync1.data("owl.carousel").to(number, 300, true);
          });
        }
        $(document).ready(function() {
          initSlider();
        });

// image gallery for product page end




// product varient and details end
// product page add to cart
        function addItemToCart(variant_id, qty) {
          data = {
            "id": variant_id,
            "quantity": qty

          }
          jQuery.ajax({
            type: 'POST',
            url: '/cart/add.js',
            data: data,
            dataType: 'json',
            success: function(cart) {
              console.log(cart)
            }
          });
        }

        $(document).ready(function() {

          $('#addProductToCart').click(function() {
            var variantIdATC = document.querySelector('.variantIdATC').value;
            var quantity__input = document.querySelector('.quantity__input').value;
            addItemToCart(variantIdATC, quantity__input)
          });
        })

// product page add to cart end
      </script>
    </main>

    <script>
      window.shopUrl = '{{ request.origin }}'
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        cart_url: '{{ routes.cart_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}',
        product_recommendations_url: '{{ routes.product_recommendations_url }}'
      }
    </script>
  </body>
</html>
